@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  background-color: #242424;
  padding: 0 2.5vw;
}

.navbar-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-container li {
  padding: 1em;
}

.navbar-container li:hover {
  background-color: black;
}

.navbar-container a {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.navbar-container a:hover {
  color: #e5c33b;
}

.footer {
  background-color: #242424;
  padding: 2.5em 3.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .main-title {
  color: #fafafa;
}

.footer .main-paragraph {
  color: #fafafa;
  margin-bottom: 1.3em;
  line-height: 1em;
}

.footer__contact > div {
  margin-bottom: 1.3em;
}

.footer__contact > div i {
  margin-right: 0.5em;
}

.footer__contact > div a:hover {
  color: #e5c33b;
  text-decoration: underline;
}

.footer__social-media a {
  font-size: 2em;
  color: #fafafa;
  margin-right: 0.5em;
}

.footer__social-media a:hover {
  color: #e5c33b;
}

.footer__social-media-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.header {
  background: url("../img/coffee-shop.jpg") center;
  background-size: cover;
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content > h1 {
  font-size: 8em;
  font-family: "Times New Roman", Times, serif;
  color: #fafafa;
  text-align: center;
  line-height: 0.4em;
  letter-spacing: 0.08em;
  margin-bottom: 0.1em;
}

.header-content > h1 > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.2em;
  letter-spacing: 0.3em;
}

.btn {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border-radius: 0.4em;
}

.btn-yellow {
  background-color: #e5c33b;
  color: #242424;
}

.btn-yellow:hover {
  background-color: #fafafa;
}

.btn-black {
  background-color: #242424;
  color: #fafafa;
}

.btn-black:hover {
  background-color: #fafafa;
  color: #242424;
}

.main-img-1 {
  background: url("../img/pouring.jpg") center;
  background-size: cover;
  width: 60vw;
}

.main-img-2 {
  background: url("../img/sandwich.jpg") center;
  background-size: cover;
  width: 60vw;
}

.main-text {
  padding: 3.5vw 3.5vw 4vw 3.5vw;
}

.main-text__dark {
  background-color: #242424;
  color: #fafafa;
}

.main-text__yellow {
  background-color: #e5c33b;
  color: #242424;
}

.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 3.8em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: underline;
  line-height: 1.3em;
  margin-bottom: 0.9em;
}

.main-paragraph {
  font-size: 1.1em;
  line-height: 1.8em;
  max-width: 40vw;
  margin-bottom: 1.2em;
}

.franquicias-hero {
  background: url("../img/sucursal.jpg") center;
  background-size: cover;
  position: relative;
  padding: 10vw 3.5vw;
}

.franquicias-hero:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.franquicias-hero > div {
  position: relative;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.franquicias-hero h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 4em;
  color: #e5c33b;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.1em;
  margin-bottom: 0.2em;
}

.franquicias .main-paragraph {
  color: #fafafa;
  text-align: center;
}

.franquicias .main-paragraph:last-of-type {
  margin-bottom: 1.2em;
}
/*# sourceMappingURL=main.css.map */